<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Record</title>
    <link rel="stylesheet" href="./stylesheet.css">
    <style type="text/css"></style>
</head>
    <body>
        <div>
            <div class="brandContent">
                <img class="brandImage" src="../../public/Logo_blue.jpeg"/>
                <div class="brandHeading">
                    <h2 class="brandMainHeading">MEDICINE BOARD OF ELECTRO HOMEOPATHY SYSTEM OF MEDICINE</h2>
                    <h3 class="brand-sub-heading">For the Promotion, Research and Development of Electro Homeopathy</h3>
                </div>
            </div>
            <div class="bodyHeading">
                <img class="brand-image" src="../../public/Logo_blue.jpeg"/>
            </div>
            <div class="bodyHeading">
                <hr class="hr"/>
                <div class="student-record-heading">Student Record</div>
            </div>
            <div>
                <table>
                    <tr>
                        <td class="table-row-key">Enrollment No.</td>
                        <td class="table-row-value">b-17-22001</td>
                    </tr>
                    <tr>
                        <td class="table-row-key">Name of Candidate</td>
                        <td class="table-row-value">AHSAN ALI</td>
                    </tr>
                    <tr>
                        <td class="table-row-key">Father Name</td>
                        <td class="table-row-value">ANEESH AHMAD</td>
                    </tr>
                    <tr>
                        <td class="table-row-key">Date of Birth</td>
                        <td class="table-row-value">2000-08-15</td>
                    </tr>
                    <tr>
                        <td class="table-row-key">Address</td>
                        <td class="table-row-value">KADRABAD AMROHA UP</td>
                    </tr>
                    <tr>
                        <td class="table-row-key">Course</td>
                        <td class="table-row-value">BEMS</td>
                    </tr>
                    <tr>
                        <td class="table-row-key">Registration No.</td>
                        <td class="table-row-value">02201</td>
                    </tr>
                    <tr>
                        <td class="table-row-key">Date of Registration</td>
                        <td class="table-row-value">2022-06-18</td>
                    </tr>
                    <tr>
                        <td class="table-row-key">Diploma No and Date of Issue</td>
                        <td class="table-row-value">b-201-10-01-2022</td>
                    </tr>
                    <tr>
                        <td class="table-row-key">College</td>
                        <td class="table-row-value">MR Medical Institute of Electrohomeopathy, Dhanaura Amroha</td>
                    </tr>
                </table>
                <p class="pdf-disclaimer"> Disclaimer: Neither NITIPL, nor MBEHSM is responsible for any
                    inadherant error that may have created in the records being published on internet.
                    The record published on internet are for immediate information to the candidates.
                    These cannot be treated as original records. Original records have been issued by the
                    board seperately.
                </p>
            </div>
        </div>
    </body>
</html>
